{% extends "base.html" %}
{% block content %}

<style>
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    margin-left: 10%;
    border: 2px solid rgb(118, 100, 238);
    background-color: rgb(160, 148, 239);
  }

  .form {
    width: 50%;
    padding: 20px;
  }

  .form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-right: 2px solid rgb(118, 100, 238);
  }

  .form form {
    width: 50%;
    padding: 20px;
  }

  .field {
    margin-bottom: 10px;
  }

  .field label {
    display: block;
    margin-bottom: 5px;
  }

  .field input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .field input[type="submit"] {
    background-color: rgb(122, 104, 238);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }

  .field input[type="submit"]:hover {
    background-color: rgb(89, 9, 121);
  }

  .signup_link {
    margin-top: 10px;
    margin-left: 25px;
  }

  .signup_link a {
    color: blue;
  }
</style>

<div class="container">
  <div class="form">
    <form method="post">
      {% csrf_token %}
      <h1 style="text-align: center;font-size:larger">Signup Form</h1><br>
      <div class="field">
        <label>Username :</label>
        <input type="text" name="username">
      </div>
      <div class="field">
        <label>Email :</label>
        <input type="email" name="email">
      </div>
      <div class="field">
        <label>Password :</label>
        <input type="password" name="password">
      </div>
      <div class="field">
        <label>Confirm Password :</label>
        <input type="password" name="con_password">
      </div>
      <div class="field">
        <input type="submit" name="Signup">
      </div>
      <div class="signup_link">
        Already have an account? <a href="{% url 'login' %}">Login</a>
      </div>
      <div class="signup_link">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      </div>
    </form>
  </div>
  <img src="https://png.pngtree.com/png-vector/20210330/ourlarge/pngtree-hand-holding-mobile-phone-social-point-avatar-send-information-illustration-png-image_3160012.png" style="width: 20%;">
  </div>
{% endblock %}
